* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}

.flag {
    width: 100%;
    position: relative;
}

.green {
    width: 800px;
    height: 400px;
    background: green;
    position: absolute;
    left: 30%;
}

.red {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 45%;
}

.share {
    width: 200px;
    position: relative;
}

.fb-img-1 {
    width: 200px;
}

.fb-img-1 img {
    width: 150px;
    position: fixed;
    right: -100px;
    transition: 0.6s;
}

.fb-img-1 img:hover {
    right: -2px;
    cursor: pointer;
}

.fb-img-2 {
    width: 200px;
}

.fb-img-2 img {
    width: 150px;
    position: fixed;
    right: -100px;
    transition: 0.6s;
    top: 30%;
}

.fb-img-2 img:hover {
    right: -2px;
    cursor: pointer;
}

.fb-img-3 {
    width: 200px;
}

.fb-img-3 img {
    width: 150px;
    position: fixed;
    right: -75px;
    transition: 0.6s;
    top: 14%;
}

.fb-img-3 img:hover {
    right: -2px;
    cursor: pointer;
}

.fb-img-4 {
    width: 200px;
}

.fb-img-4 img {
    width: 150px;
    position: fixed;
    right: -100px;
    transition: 0.6s;
    top: 7%;
}

.fb-img-4 img:hover {
    right: -2px;
    cursor: pointer;
}

.fb-img-5 {
    width: 200px;
}

.fb-img-5 img {
    width: 150px;
    position: fixed;
    right: -100px;
    transition: 0.6s;
    top: 23%;
}

.fb-img-5 img:hover {
    right: -2px;
    cursor: pointer;
}

.fb-img-6 {
    width: 200px;
}

.fb-img-6 img {
    width: 150px;
    position: fixed;
    right: -100px;
    transition: 0.6s;
    top: 37%;
}

.fb-img-6 img:hover {
    right: -2px;
    cursor: pointer;
}

.argentina {
    width: 900px;
    height: 900px;
    position: relative;
}

.white {
    width: 700px;
    height: 230px;
    background: #fff;
    position: absolute;
    top: 500px;
    left: 620px;
}

.white img {
    width: 100px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.akashi {
    width: 700px;
    height: 80px;
    background: #4cd4ec;
}

.akashi-1 {
    width: 700px;
    height: 80px;
    background: #4cd4ec;
    position: absolute;
    top: 170px;
}